In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression

In [3]:
df = pd.DataFrame(data={'X': [12,17,4,1,10,7,21,18,16,14],
                    'Y': [26,50,9,3,25,19,53,40,26,25]})
df

    X   Y
0  12  26
1  17  50
2   4   9
3   1   3
4  10  25
5   7  19
6  21  53
7  18  40
8  16  26
9  14  25

In [4]:
df.describe()

               X          Y
count  10.000000  10.000000
mean   12.000000  27.600000
std     6.463573  16.139668
min     1.000000   3.000000
25%     7.750000  20.500000
50%    13.000000  25.500000
75%    16.750000  36.500000
max    21.000000  53.000000

In [7]:
mdl = LinearRegression().fit(df[['X']], df.Y)

In [9]:
mdl.coef_

array([2.31648936])

In [11]:
mdl.intercept_

-0.1978723404255298

In [14]:
mdl.score(df[['X']], df.Y)

0.8606305383221946

# Part 2

In [16]:
df = pd.read_csv('candy-data.csv')
df

,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent,Y
0,100 Grand,1,0,1,0,0,1,0,1,0,0.732,0.860,66.971725,1
1,3 Musketeers,1,0,0,0,1,0,0,1,0,0.604,0.511,67.602936,1
2,One dime,0,0,0,0,0,0,0,0,0,0.011,0.116,32.261086,0
3,One quarter,0,0,0,0,0,0,0,0,0,0.011,0.511,46.116505,0
4,Air Heads,0,1,0,0,0,0,0,0,0,0.906,0.511,52.341465,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,Snickers Crisper,1,0,1,1,0,1,0,1,0,0.604,0.651,59.529251,1
66,Sour Patch Kids,0,1,0,0,0,0,0,0,1,0.069,0.116,59.863998,1
67,Sour Patch Tricksters,0,1,0,0,0,0,0,0,1,0.069,0.116,52.825947,1
68,Starburst,0,1,0,0,0,0,0,0,1,0.151,0.220,67.037628,1
69,Strawberry bon bons,0,1,0,0,0,0,1,0,1,0.569,0.058,34.578991,0

In [17]:
train_df = df[(df['competitorname'] != 'Boston Baked Beans') & (df['competitorname'] != 'Peanut M&Ms')]

In [18]:
X_train = train_df[['chocolate', 'fruity', 'caramel', 'peanutyalmondy', 'nougat', 
                   'crispedricewafer', 'hard', 'bar', 'pluribus', 'sugarpercent', 'pricepercent']]
y_train = train_df['winpercent']

In [20]:
mdl = LinearRegression().fit(X_train, y_train)

In [21]:
boston = df[df['competitorname'] == 'Boston Baked Beans']
X_boston = boston[['chocolate', 'fruity', 'caramel', 'peanutyalmondy', 'nougat', 
                   'crispedricewafer', 'hard', 'bar', 'pluribus', 'sugarpercent', 'pricepercent']]
y_boston = boston['winpercent']

In [22]:
mdl.predict(X_boston)

array([44.00469576])

In [23]:
mms = df[df['competitorname'] == 'Peanut M&Ms']
X_mms = mms[['chocolate', 'fruity', 'caramel', 'peanutyalmondy', 'nougat', 
                   'crispedricewafer', 'hard', 'bar', 'pluribus', 'sugarpercent', 'pricepercent']]
y_mms = mms['winpercent']

In [24]:
mdl.predict(X_mms)

array([68.48757158])

In [25]:
mdl.predict([[1, 1, 1, 1, 1, 1, 0, 0, 0, 0.261, 0.273]])

array([92.06541738])