In [13]:
import pandas as pd

In [14]:
df = pd.read_csv('salary_and_population.csv').drop(columns=['Unnamed: 4'])
df

,Region_RU,Region_EN,AVG_Salary,Population
0,Алтайский край,Altai Region,25960,218866
1,Амурская область,Amur Region,43156,793194
2,Архангельская область,Arkhangelsk Region,47526,1144119
3,Астраханская область,Astrakhan Region,32166,1014065
4,Белгородская область,Belgorod Region,31163,1547418
...,...,...,...,...
80,Чеченская Республика,Republic of Chechnya,26108,1456951
81,Чувашская Республика,Chuvash Republic,27028,1223395
82,Чукотский АО,Chukotka AO,96930,49663
83,Ямало-Ненецкий АО,Yamalo-Nenets Autonomous district,86560,541479
84,Ярославская область,Yaroslavl Region,33882,1259612

In [15]:
# df = df[df.Region_EN.apply(lambda x: x not in ['Vologda Region', 'Murmansk Region'])]
df = df[df.Region_EN.apply(lambda x: x not in ['Novgorod Region', 'Republic of Dagestan', 
                                       'Kabardino-Balkar Republic', 'Stavropol Region'])]

In [16]:
df.describe()

          AVG_Salary    Population
count      81.000000  8.100000e+01
mean    39404.432099  1.720843e+06
std     16646.433699  1.851156e+06
min     25663.000000  4.382900e+04
25%     28400.000000  6.992530e+05
50%     33137.000000  1.144119e+06
75%     42026.000000  1.963007e+06
max    101662.000000  1.261528e+07

In [17]:
df.AVG_Salary.median()

33137.0

In [18]:
df.AVG_Salary.var(ddof=0)

273682720.8873647

In [19]:
import math
math.sqrt(df.AVG_Salary.var(ddof=0))

16543.35881516703